<!DOCTYPE html>
<html lang="en" ng-app="githubProfiler">
<head>
  <meta charset="UTF-8">
  <title>GitHub Profiler</title>
<!-- bower:css -->
<!-- endbower -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- inject:css -->
<link rel="stylesheet" href="/app/style/style.css">
<!-- endinject -->
</head>

<body ng-controller="ghpController as vm" ng-cloak ng-init="vm.getProfile(vm.defaultUser)">
  <div>
  <div class="well well-lg">
    <h1>GitHub Profiler</h1>
    <p>Find out information about any GitHub user!</p>
  </div>
  <div>
    <div class="row">
    <div class="col-lg-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." ng-model="vm.username">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="vm.getProfile(vm.username)">Go!</button>
      </span>
    </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  </div>
  <hr>
  <div ng-show="vm.profile">
  <div>
    <div class="col-lg-3" id="profileBox">
        <div>
          <a ng-href="https://github.com/{{vm.profile.login}}"><img ng-src="{{vm.profile.avatar_url}}" alt="..." class="img-circle text-center"></a>
          <hr>
          <ul id="profileInfoList" class="text-center">
            <li><a ng-href="https://github.com/{{vm.profile.login}}"> <strong>{{vm.profile.name}}</strong> <small>{{vm.profile.login}}</small></a></li>
            <li>{{vm.profile.location}}</li>
            <li ng-class="vm.profile.hireable && 'text-success' || !vm.profile.hireable && 'text-danger'">{{vm.profile.hireable && 'Looking for work' || 'Not looking for work'}}</li>
            <li>Slinging code since {{vm.profile.created_at | date}}</li>
          </ul>
        </div>
    </div>
    <div class="col-lg-3">
      <a ng-href="https://github.com/{{vm.profile.login}}">
      <div class="well well-lg">
        <h3>Followers</h3>
        <h4><strong>{{vm.profile.followers}}</strong></h4>
      </div>
      </a>
    </div>
    <div class="col-lg-3">
      <a ng-href="https://github.com/{{vm.profile.login}}">
      <div class="well well-lg">
        <h3>Following</h3>
        <h4><strong>{{vm.profile.following}}</strong></h4>
      </div>
    </a>
    </div>
    <div class="col-lg-3">
      <div class="well well-lg">
        <h3>Public Repositories</h3>
        <h4><strong>{{vm.profile.public_repos}}</strong></h4>
        <button id="viewRepoButton" class="btn btn-info btn-lg btn-block" type="button" ng-click="vm.getCurrentRepos(vm.profile.login)">View Repositories</button>
      </div>

    </div>
    <div class="col-lg-9" ng-show="vm.currentRepos">
      <div class="well well-lg">
      <table class="table table-striped" >
        <thead>
        	<tr>
        		<th>Repo Name</th>
        		<th>Description</th>
            <th>Last updated</th>
        		<th>Link</th>
        	</tr>
        </thead>
        <tbody>
        	<tr ng-repeat="repo in vm.currentRepos">
			      <td>{{repo.name}}</td>
			      <td>{{repo.description}}</td>
            <td>{{repo.pushed_at | date}}</td>
			      <td><a target="_blank" class="btn btn-primary" type="button" ng-href="{{repo.html_url}}">Repo Link</a></td>
        	</tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
  </div>

<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<!-- endbower -->

<!-- inject:js -->
<script src="/app/app.js"></script>
<script src="/app/ghpController.js"></script>
<script src="/app/ghpFactory.js"></script>
<!-- endinject -->
</body>
</html>
